/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */

/*
 * Sidebar
 */

.sidebar {
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee; 
  background-color: #063E5F;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
 
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0; 
  color: #fff; 
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.nav-link:hover, .nav-link:focus {
  color: #84ADC9;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 255), rgba(0, 0, 0, 0));
}

.logo {
  padding: 20%;  
}

.logo img {
  width: 100%; 
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} 

